params {
    threads = 4
    outdir = "results"
}

manifest {
    name = 'pathogenepidemiology'
    description = 'Epidemiology pipeline'
    version = '0.1.0dev'
}

profiles {
    gpu {
        process {
            withName: /CLAIR3|CLAIR3_CUSTOM/ { 
                publishDir = [
                path: { "${params.outdir}/varcalls" },
                mode: 'copy',
                overwrite: true
            ] 
                label = 'gpu'
                accelerator = 1
                ext.args = '--use_gpu'
            }
        }
    }
    cpu {
        process {
            withName: /CLAIR3|CLAIR3_CUSTOM/ {
                publishDir = [
                path: { "${params.outdir}/varcalls" },
                mode: 'copy',
                overwrite: true
            ] 
                label = 'cpu'
                accelerator = 0
                ext.args = ''
            }
        }
    }
}

process {
    withName: 'BBDUK_CUSTOM' {
        publishDir = [
            path: { "${params.outdir}/trimmed" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '15 GB'
        cpus = params.threads
        ext.args = { 'ktrim=r k=23 mink=11 prealloc=t qhdist=1 tpe=t tbo=t minlen=36 -da' }
    }

    withName: 'FASTQC' {
        publishDir = [
            path: { "${params.outdir}/fastqc" },
            mode: 'copy',
            overwrite: true
        ]
        memory = '5 GB'
        cpus = 2
    }

    withName: 'MINIMAP2_ALIGN' {
        publishDir = [
            path: { "${params.outdir}/aligned" },
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'MINIMAP2_INDEX' {
        publishDir = [
            path: { "${params.outdir}/mm2i" },
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            overwrite: true
        ]
    }

    
}